<a href="https://colab.research.google.com/github/ronish645/ronish645/blob/main/Hw_3_cs250ronish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def approx_e(iter):       #1
    e = 0
    for i in range(iter):
        e += 1 / math.factorial(i)
    return e
import math

e = approx_e(100)
print(e)

In [ ]:
import math              #2
def squares(seq):
  squares = []
  for n in seq:
   if math.isqrt(n)**2 == n:
    squares.append(n)
  return squares
seq = [49, 8, 2, 1, 102]
print(squares(seq))            # prints [49, 1]

seq = [500, 30]
print(squares(seq))            # prints []

In [ ]:
def add_this_many(x, el, lst):      #3
  count = lst.count(x)
  for i in range(count):
   lst.append(el)
lst = [1, 2, 4, 3, 1]
add_this_many(1, 5, lst)
print(lst)